<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77053014627-imini867hrfpbh0lra95hddhl52qpmsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77053014627-imini867hrfpbh0lra95hddhl52qpmsr</string>
	<key>API_KEY</key>
	<string>AIzaSyAqp2VpUL6GI4pW-90nBcBEWB6kZsAAlWY</string>
	<key>GCM_SENDER_ID</key>
	<string>77053014627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.gopizza</string>
	<key>PROJECT_ID</key>
	<string>gopizza-ce79c</string>
	<key>STORAGE_BUCKET</key>
	<string>gopizza-ce79c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77053014627:ios:7f8111c4b532fb9275be56</string>
</dict>
</plist>